
body {
        background: #EFEFEF 0% 0% no-repeat padding-box !important;
        height:812px;
        color:#333333;
    }
@media screen and (max-height: 667px) { 
    body{
        height:667px;
    }
}
    #header {
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 375px;
        height: 50px;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 1;
        border-bottom: solid 1px;
        border-bottom-color: #707070;
    }
    .footer{
        box-shadow: 0px 3px 6px #00000029;
        position: fixed;
        z-index: 10;
        top: 720px;
        left: 290px;
        transform: rotate(0deg);
        transition: transform 0.5s;
        border-radius: 50%;
        background-color: #FF8500;
    }
    .footer_back{
        background-color: #333333;
        opacity: 0.2;
        position: fixed;
        top: 0px;
        left: 0px;
        height:812px;
        width:375px;
        z-index:5;
    }
    .footer_back_{
        background-color: #333333;
        opacity: 0.1;
        position: fixed;
        top: 0px;
        left: 0px;
        height:812px;
        width:375px;
        z-index:11;
    }
    #footer_menu_1{
        position: fixed;
        z-index: 10;
        top: 630px;
        left: 305px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #footer_menu_2{
        position: fixed;
        z-index: 10;
        top: 560px;
        left: 305px;
        height:56px;
        width:56px;
        border-radius: 50%;
        background-color: #FFFFFF;
        border:solid 1px;
        border-color: #FF8500;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #footer_menu_3{
        position: fixed;
        z-index: 10;
        top: 490px;
        left: 305px;
        height:56px;
        width:56px;
        border-radius: 50%;
        background-color: #FFFFFF;
        border:solid 1px;
        border-color: #FF8500;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .footer_first{
        transform: scale(0);
        transition: transform 0.3s;
    }
    .footer_second{
        transform: scale(0);
        transition: transform 0.5s;
    }
    .footer_third{
        transform: scale(0);
        transition: transform 0.7s;
    }
    .footer_menu_mychara{
        height:56px;
        width:56px;
        border-radius: 50%;
        background-color: #FFFFFF;
        border:solid 1px;
        border-color: #FF8500;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #footer_menu_name_1{
        position: fixed;
        z-index: 10;
        top: 640px;
        left: 214px;
    }
    #footer_menu_name_2{
        position: fixed;
        z-index: 10;
        top: 570px;
        left: 225px;
    }
    #footer_menu_name_3{
        position: fixed;
        z-index: 10;
        top: 500px;
        left: 220px;
    }
    .navbar {
        height: 36px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0px 0 0px 0;
    }

    .navbar_bottom {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 4px 12px 4px 0;
    }

    #logout {
        background: #4A95E9 0% 0% no-repeat padding-box;
        border-radius: 30px;
        
        padding: 4px 12px 4px 12px;
        color: #ffffff;
        opacity: 1;
    }

    .header_btm {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #4A95E9;
        border-radius: 30px;
        padding: 4px 12px 4px 12px;
        color: #4A95E9;
        opacity: 1;
    }
    .main{
        display:flex;
        justify-content:center;
        width:100%;
        height:100%;
        font-weight: 500;
        position:relative;
        overflow-x:hidden;
    }
    .slider{ 
        position:absolute;
        width:750px;
        height:100%;
        top:50px;
        left:0px;
        display:flex;
    }
    
    
@media screen and (min-width: 767px) { 
    
    .user_top{
        margin-bottom: 12px;
        height: 276px;
        background: #FCFBF4 0% 0% no-repeat padding-box;
        border-bottom: solid 1px;
        margin:0 0px;
    }
    .timeline_box{
        display:flex;
        background: #FFFFF8 0% 0% no-repeat padding-box;
       /*box-shadow: 3px 2px 6px #00000029;*/
        border-bottom: solid 1px;
        border-bottom-color: #c9c9c9;
        width: 100%;
        height: 100px;
        color:#717171;
        font-size:12px;
        margin:12px -12px;
        padding:0 -12px;
    }
    
}
@media screen and (max-height: 667px) { 
    
    .footer{
        box-shadow: 0px 3px 6px #00000029;
        position: fixed;
        z-index: 10;
        top: 580px;
        left: 290px;
        transform: rotate(0deg);
        transition: transform 0.5s;
        border-radius: 50%;
        background-color: #FF8500;
    }
    #footer_menu_name_1{
        position: fixed;
        z-index: 10;
        top: 520px;
        left: 208px;
    }
    #footer_menu_name_2{
        position: fixed;
        z-index: 10;
        top: 455px;
        left: 220px;
    }
    #footer_menu_name_3{
        position: fixed;
        z-index: 10;
        top: 392px;
        left: 215px;
    }
    #footer_menu_1{
        position: fixed;
        z-index: 10;
        top: 512px;
        left: 295px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #footer_menu_2{
        position: fixed;
        z-index: 10;
        top: 448px;
        left: 295px;
        height:56px;
        width:56px;
        border-radius: 50%;
        background-color: #FFFFFF;
        border:solid 1px;
        border-color: #FF8500;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #footer_menu_3{
        position: fixed;
        z-index: 10;
        top: 384px;
        left: 295px;
        height:56px;
        width:56px;
        border-radius: 50%;
        background-color: #FFFFFF;
        border:solid 1px;
        border-color: #FF8500;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
}
    .content,.content1{
        width:375px;
    }
    .user_top{
        margin-bottom: 12px;
        height: 276px;
        background: #FCFBF4 0% 0% no-repeat padding-box;
        border-bottom: solid 1px;
        border-bottom-color: #c9c9c9;
    }
    img{
        overflow: hidden;
    }
    #bg_img{
        object-fit: cover;
        height:120px;
        background-color: ffffff;
    }
    #ft_img{
        object-fit: cover;
        object-position:0px 0px;
        position:absolute;
        top:72px;
        left:24px;
        border-radius: 50%;
        height:156px;
        width:156px;
        background-color: ffffff;
        border: 3px solid #FFFFFF;
    }
    #prof{
        position:absolute;
        top:90px;
        left:200px;
        width:160px;
    }
    .prof_name{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 3px;
        width:75%;
        margin:12px;
    }
    .prof_comment{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 3px;
        height:64px;
        margin:12px;
    }
    .prof_job{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 3px;
        width:75%;
        margin:12px;
    }
    .contents {
        width: 100%;

    }

    .hedaing {
        width: 100%;
        text-align: left;
        padding:12px 12px 12px 12px;
        color: #000000;
    }

    .bottom {
        width: 100%;
        text-align: center;
    }

    /*a {*/
    /*    height: 12px;*/
    /*    text-align: center;*/
    /*    padding: 0 0px 0 0px;*/
    /*    font: W3 12px/20px Hiragino Sans;*/
    /*    letter-spacing: 0;*/
    /*    color: #717171;*/
    /*    opacity: 1;*/
    /*}*/

    ul {
        padding: 12px 0 12px 0px;

    }

    .box {
        overflow-x: scroll;
        white-space: nowrap;
        margin: 0 0px 0 0px;
        padding:12px 0 0 0;
        top: 140px;
        left: 0px;
        width: 100%;
        height: 173px;

    }

    #box1 {
        display: inline-block;
        margin: 5px;
        width: 128px;
        height: 132px;
        background: #FFFFF8 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 7px;
        opacity: 1;
    }
    .inbox{
        display:flex;
        flex-direction:column;
    }
    .inbox> img{
        object-fit: cover;
        object-position:0px 0px;
    }
    
    hr {
        margin: 4px 0 4px 12px;
    }

    .navbar-toggler-icon {
        margin: -10px 0 0px 0;
    }
    .user_info{
        width:30%;
        text-align: center;
        color:#707070;
    }
    
    .chara_img,.user_img{
        object-fit: cover;
        object-position:0px 0px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 50%;
        height:123px;
        width:123px;
        background-color: ffffff;
        border: 4px solid #333333;
    }
    .listparent{
        display:flex;
        margin:0px 0px;
        padding:6px 12px;
        border-bottom: 1px solid;
        border-color: #c9c9c9;
        background-color: #FFFFFF;
        text-decoration: none;
        color:#333333;
        width:100%;
    }
    .listparent:hover{
        display:flex;
        margin:0px 0px;
        padding:6px 12px;
        border-bottom: 1px solid;
        border-color: #c9c9c9;
        background-color: #FFFFFF;
        text-decoration: none;
        color:#333333;
    }


    .list{
        display:flex;
        width:95%;
    }
    .thumbnail_img{
        object-fit: cover;
        object-position:0px 0px;
        box-shadow: 0px 3px 6px #00000029;
        height:50px;
        width:50px;
        border-radius: 50%;
        background-color: ffffff;
        border: 2px solid #333333;
        margin:6px;
    }
    
    .chara_top{
        display:flex;
        padding-bottom: 12px;
        width:100%;
        height: 165px;
        background: #ffffff 0% 0% no-repeat padding-box;
    }
    .chara_top_olt{
        display:flex;
        width:100%;
        height: 150px;
        background: #ffffff 0% 0% no-repeat padding-box;
    }
    .chara_name {
    background-color: #ffffff;
    padding: 6px 12px 12px 48px;
    }
    .chara_name_olt {
    background-color: #ffffff;
    padding: 0px 0px 12px 0px;
    text-align: center;
    }
    .chara_name1 {
    background-color: #ffffff;
    
    }
    .chara{
        width:50%;
        padding:0 12px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .chara_olt{
        width:50%;
        padding:0 12px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .guild_status{
        width:50%;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        /* align-items: flex-end; */
    }

    .chara_main{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        margin:6px 0 -6px 0;
    }
    .chara_prof_comment{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 3px;
        height:120px;
        width:156px;
        margin:12px 0 6px 0;
    }
    .label_btn{
        background: #f95e38 0% 0% no-repeat padding-box;
        text-align: center;
        border-radius: 18px;
        box-shadow: 0px 3px 6px #00000029;
        padding: 4px 12px 4px 12px;
        margin:4px 0 4px 0;
        color: #ffffff;
        max-width: 100%;
        display: flex;
        align-items: center;
    }
    .label_btn_{
        background: #4A95E9 0% 0% no-repeat padding-box;
        border: solid 1px #4A95E9;
        border-radius: 18px;
        box-shadow: 0px 3px 6px #00000029;
        padding: 4px 12px 4px 12px;
        margin:4px 0 4px 0;
        color: #ffffff;
    }
    .job_icon{
        object-fit: cover;
    }

    .chara_top>div{
        text-align:center;
        
    }
    .chara_population{
        display:flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 12px;
    }
    .pop{
        padding:0 3px;
    }
    .join_btn{
        background-color: #FFFFFF;
        display:flex;
        justify-content: flex-end;
        padding:0 0 12px 0;
        border-bottom: solid 0.5px;
        border-bottom-color: #c9c9c9;
    }
    .join_btn>div{
        background: #ff8500 0% 0% no-repeat padding-box;
        
        border-radius: 18px;
        padding: 4px 12px 4px 12px;
        margin:0px 20px 0px 20px;
        color: #ffffff;
        font-weight:500;
    }

    .add_btn_back{
        background-color: #eFeFeF;
        display:flex;
        flex-direction:column;
        justify-content: flex-end;
        padding:0 0 12px 0;
        /* border-bottom: solid 0.5px;
        border-bottom-color: #c9c9c9; */
    }
    .add_btn{
        background: #ff8500 0% 0% no-repeat padding-box;
        
        border-radius: 18px;
        padding: 4px 12px 4px 12px;
        margin:0px 20px 0px 20px;
        color: #ffffff;
        font-weight:500;
    }
    .middle_bar{
        display:flex;
        background-color: #FFFFFF;
        overflow-x: hidden;
        width:100%;
        height:36px;
        border-top:1px solid #c9c9c9;
    }
    .middle_bar::-webkit-scrollbar {
        display: none;
    }
    .middle_bar_outline{
        flex: 0 0 auto;
        text-align: center;
        padding:0 12px;
    }
    .middle_bar_h{
        color:#FF8500;
        border-bottom:solid 3px;
        border-color: #FF8500;
    }
    .middle_bar_add{
        color: #FF8500;
        border-bottom: solid 3px;
        border-bottom-color: #FF8500;
    }

    #chara_detail{
        text-align:right; 
    }
    
   .timeline_box{
        display:flex;
        background: #FFFFF8 0% 0% no-repeat padding-box;
       /*box-shadow: 3px 2px 6px #00000029;*/
       border-bottom: solid 1px;
        border-bottom-color: #c9c9c9;
        width: 100%;
        height: 100px;
        color:#717171;
        font-size:12px;
        margin:12px 0 12px 0;
    }
    #icon{
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0px 12px 0px 36px;
    }
    #icon>img{
        object-fit: cover;
        object-position:0px 0px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 50%;
        height:72px;
        width:72px;
    }
    #timeline_contents{
        width:63%;
    }
    #timeline_detail{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        text-align:left;
        height:60px;
        padding:0 12px 0 12px;
    }
    #good_share{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
        padding:0 0px 0 64px;
    }
    .sns_icon{
        width:24px;
        height:24px;
    }
    .checkbox{
        display:flex;
        flex-direction:column;
        padding:12px 0 12px 12px;
        
    }
    .checkbox_btm {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #4A95E9;
        border-radius: 30px;
        padding: 4px 12px 4px 12px;
        color: #4A95E9;
        opacity: 1;
    }
    #icon_comment{
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0px 24px 0px 12px;
    }
    #icon_comment>img{
        object-fit: cover;
        object-position:0px 0px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 50%;
        height:72px;
        width:72px;
    }
    #chara_icon{
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0px 6px 0px 6px;
    }
    #chara_icon>img{
        object-fit: cover;
        object-position:0px 0px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 50%;
        height:72px;
        width:72px;
    }
    .comment_box{
        display:flex;
        background: #FFFFF8 0% 0% no-repeat padding-box;
       /*box-shadow: 3px 2px 6px #00000029;*/
       border-bottom: solid 1px;
        border-bottom-color: #c9c9c9;
        width: 100%;
        height: 100px;
        color:#717171;
        font-size:12px;
        margin:12px 0 12px 0;
    }
    .comment_chain{
        border-left:1px solid #dee2e6;
        display:flex;
        justify-content:flex-end;
    }
    .searchbox{
        background-color: #EFEFEF;
        margin: 6px 0 6px 6px;
        border-radius: 5px;
        border-top: 1px solid;
        border-color: #c9c9c9;
    }
    .search{
        height:36px;
        background-color: #EFEFEF;
        border:none;
        border-radius: 5px;
        outline: none;
    }
    #back{
        height: 36px;
        margin: 8px 12px;
    }
    .search1{
        
        
        height:36px;
        background-color: #EFEFEF;
        border:none;
        border-radius: 5px;
    }
    .card{
        display:flex;
        flex-direction: column;
        align-items: center;
        border:solid 1px;
        border-color: #969696;
        margin:6px 0;
    }

    .item_container{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        background-color: #efefef
    }
    .item_box{
        position:relative;
        display: flex;
        width: 50%;
        height: auto;
        position: relative;
        background-color: #efefef
    }
    .like{
        position: absolute;
        top:200px;
        right:16px;
    }
    .item_img{
        display: flex;
        width: 100%;
        height: 240px;
        padding: 12px 6px 0px 6px;
    }
    .item_img img{
        object-fit: contain;
        background-color: #FFFFFF;
    }

    .quest{
        height:156px;
        width:48%;
        background-color: #ffffff;
        margin:6px 6px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:relative;
    }
    .check{
        position: absolute;
        top:10px;
        right:10px;
    }
    .content1 li a{
        text-decoration: none;
    }
    .searchtab{
        border-top:8px solid #ffcc00;
    }
    .searchtabin{
        display:flex;
        list-style: none;
        justify-content: center;
        width:100%;
        margin:0;
        padding:0px 24px;
        background-color: #FFCC00;
    }
    .searchtabin li{
        width:10%;
        text-align: center;
        padding:6px 0;
    }
    .searchtabin a{
        color:#333333;
    }
    .searchtabin li.current{
        background-color: #FFFFFF;
        border-right:1px solid #936008;
        border-top:2px solid #FFFFFF;
    }
    .searchtabin li.current a{
        color:#FF8500;
        
    }
    .searchSubtabin{
        display:flex;
        list-style: none;
        justify-content: space-around;
        margin:0;
        padding:0px 24px;
        background-color: #FFFFFF;
    }
    .searchSubtabin li{
        width:10%;
        text-align: center;
        padding:6px 0;
    }
    .searchSubtabin a{
        color:#333333;
    }
    .searchSubtabin li.current{
        border-bottom:solid 2px #FF8500;
    }
    .searchSubtabin li.current a{
        color:#FF8500;
    }
    
    .searchGenretabin{
        display:flex;
        list-style: none;
        justify-content: space-around;
        margin:0;
        padding:0px 12px;
        background-color: #FF8500;
        border-top:8px solid #ff8500;
    }
    .searchGenretabin li{
        width:30%;
        text-align: center;
        padding:6px 0;
    }
    .searchGenretabin a{
        color:#FFFFFF;
    }
    .searchGenretabin li.current{
        background-color: #FFcc00;
        border-right:1px solid #936008;
    }
    .searchGenretabin li.current a{
        color:#333333;
    }
        .pace {
        -webkit-pointer-events: none;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .pace-inactive {
        display: none;
    }

    .pace .pace-progress {
        background: #ff9300;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
    }

    .pace .pace-progress-inner {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #ff9300, 0 0 5px #ff9300;
        opacity: 1.0;
        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -moz-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        -o-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
    }

    .pace .pace-activity {
        display: block;
        position: fixed;
        z-index: 2000;
        top: 120px;
        right: 120px;
        width: 100px;
        height: 100px;
        border: solid 2px transparent;
        border-top-color: #ff9300;
        border-left-color: #ff9300;
        border-radius: 100px;
        -webkit-animation: pace-spinner 400ms linear infinite;
        -moz-animation: pace-spinner 400ms linear infinite;
        -ms-animation: pace-spinner 400ms linear infinite;
        -o-animation: pace-spinner 400ms linear infinite;
        animation: pace-spinner 600ms linear infinite;
    }

    @-webkit-keyframes pace-spinner {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-moz-keyframes pace-spinner {
        0% {
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-o-keyframes pace-spinner {
        0% {
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-ms-keyframes pace-spinner {
        0% {
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes pace-spinner {
        0% {
            transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    /*モーダル用*/
    .js-modal__bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
    display: none;
    }
    .js-modal__main {
    width: 100%;
    height:100%;
    bottom: -80%;
    left: 0;
    background: #fff;
    border-radius:4px 4px 0 0 ;
    position: fixed;
    
    opacity: 0;
    }
    .js-modal__btn {
        color:#76952f;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    /* .js-modal__btn--close {
        margin-top: 40px;
        text-align: center;
        text-decoration: underline;
    }
    .js-modal__btn--close--fix {
    width: 30px;
    height: 30px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: 5px;
    z-index: 101;
    cursor:pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    .js-modal__btn--close--fix:before{
    content:"";
    width: 20px;
    height: 20px;
    border-right:3px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    top:12px;
    left:-3px;
    }
    .js-modal__btn--close--fix:after{
    content:"";
    width: 20px;
    height: 20px;
    border-right:3px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top:-2px;
    left:-3px;
    } */
    /*右から左*/
    @keyframes SlideLeft {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
    }   
    /*右から左*/
    @keyframes SlideRight {
    0% {
        opacity: 1;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
    } 
    .slider.slideLeft {
    animation: SlideLeft 0.6s ease forwards;
    }
    .slider.slideRight {
    animation: SlideRight 0.6s ease forwards;
    height:0px;
    }
    /*下から上*/
    @keyframes SlideUp {
    0% {
        opacity: 1;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(-75%);
    }
    }
    /*上から下*/
    @keyframes SlideDown {
    0% {
        opacity: 1;
        transform: translateY(-75%);
    }
    100% {
        opacity: 1;
        transform: translateY(20%);
    }
    }
    .js-modal__main._slideUp {
    animation: SlideUp 0.6s ease forwards;
    z-index: 13;
    }
    .js-modal__main._slideDown {
    animation: SlideDown 0.6s ease forwards;
    z-index: 13;
    }
    .modal_body{
        padding:24px 0px 0px 0px;
        background-color: #efefef;
        height:560px;
        overflow-y: scroll;
    }
@media screen and (max-height: 667px) { 
    .modal_body{
        height:390px;
    }
}
    #api_form .listparent{
        margin:0px 0px 24px 0px;
        padding: 12px;
    }
    .user_name{
        font-size: 14px;
    }
    .name_bx{
        width:50%;
        margin:4px 0px 4px 4px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .name_bx div{
        width:100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .label_bx{
        width:30%;
        margin:12px 0px;
        display: flex;
        justify-content: center;
    }
    .label_bx label div{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: small;
        font-weight: 700;
    }
    .post_img{
        width: 180px;
        height:180px;
        object-fit: contain;
        background-color: #FFFFFF;
    }
    .thumbnail{
        background-color: #EFEFEF;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
    .center_obj{
        display: flex;
        justify-content: center;
    }
    #echo{
        width:100%;
    }
    .disclaimer{
        font-size: small;
        margin:0px 12px;
    }
    .listparent button{
        width: 50%;
        height: 100%;
        border-radius: 24px;
        background-color: #FF8500;
        border: 1px solid #efefef;
        padding: 8px;
        color: #ffffff;
    }
    .formbox{
        width: 375px;
        height:568px;
        padding: 36px 0px 0px 0px;
        overflow-y: scroll;
    }
    #mycharalist{
        height: 606px;
        overflow-y: scroll;
        width: 375px;
    }
    .serif_bx{
        padding: 6px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        text-decoration: none;
        color:#333333;
    }
    .serif_bx:hover{
        padding: 6px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        text-decoration: none;
        color:#333333;
    }
    .reason{
        overflow-x: hidden;
        height: 36px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 400;
        margin:0 6px;
    }
    .serif{
        overflow-y: hidden;
        overflow-x:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight:600;
        width:90%;
        margin:4px 0px;
    }
    .content{
        width:375px;
    }
@media screen and (max-height: 667px) { 
    .formbox{
        width: 375px;
        height:403px;
        padding: 36px 0px 0px 0px;
        overflow-y: scroll;
    }
    #mycharalist{
        height:472px;
        overflow-y: scroll;
        width: 375px;
    }
}

@media screen and (min-width: 400px) { 
    .slider {
    position: absolute;
    width: 828px;
    height: 100%;
    top: 50px;
    left: 0px;
    display: flex;
    }
    .footer{
        top: 640px;
        left: 320px;
    }
    .footer_back,.footer_back_{
        width: 414px;
    }
    #footer_menu_name_1{
        position: fixed;
        z-index: 10;
        top: 574px;
        left: 237px;
    }
    #footer_menu_name_2{
        position: fixed;
        z-index: 10;
        top: 503px;
        left: 248px;
    }
    #footer_menu_name_3{
        position: fixed;
        z-index: 10;
        top: 434px;
        left: 243px;    
    }
    #footer_menu_1{
        position: fixed;
        z-index: 10;
        top: 565px;
        left: 325px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #footer_menu_2{
        position: fixed;
        z-index: 10;
        top: 495px;
        left: 325px;
        height:56px;
        width:56px;
        border-radius: 50%;
        background-color: #FFFFFF;
        border:solid 1px;
        border-color: #FF8500;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #footer_menu_3{
        position: fixed;
        z-index: 10;
        top: 425px;
        left: 325px;
        height:56px;
        width:56px;
        border-radius: 50%;
        background-color: #FFFFFF;
        border:solid 1px;
        border-color: #FF8500;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #header {
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 414px;
        height: 50px;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 1;
        border-bottom: solid 1px;
        border-bottom-color: #707070;
    }
    .content,.content1{
        width:414px;
    }
    .formbox{
        width: 414px;
        height:529px;
        padding: 36px 0px 0px 0px;
        overflow-y: scroll;
    }
    #mycharalist{
        overflow-y: scroll;
        width: 414px;
        height: 533px;
    }
    .modal_body{
        height: 516px;
    }
}
@media screen and (min-height: 800px) { 
    .formbox{
        height: 604px;
    }
    .modal_body{
        height: 592px;
    }
}
.listbox{
    margin: 6px;
    width: 100%;
}
.nodata{
    text-align: center;
    padding: 24px 0px;
}
.user_status{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 6px;
}
.chara_status{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 6px;
    min-width: 30%;
}

.quantity{
    font-size: large;
    font-weight: 700;
    text-align: center;
}
.sub{
    font-size: 14px;
    color:#969696;
}
#filter{
    height:auto;
}
input[type=radio] {
display: none; 
}
input:checked+label{
    background-color: #FFFFFF;
    color: #ff8500;
}
label{
    background-color: #FF8500;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 4px 12px 4px 12px;
    margin: 4px;
    color: #ffffff;
}
.status_bx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
}
.s_bx_c{
    display: flex;
    justify-content: center;
    padding: 6px 0px;
}